# Brew. requirements
# Werkzeug==0.8.3
south==0.7.6
#pytz==2012j
#python-dateutil==1.5
#amqp==1.0.6
#billiard==2.7.3.12

kombu==2.3.2
celery==3.0.5
anyjson==0.3.3
mysql-python
django==1.4.1
django-celery==3.0.4
django-extensions==1.0.2
django-dajaxice==0.5.3
gunicorn==0.17.2
nanpy
pyserial==2.6