{% extends "base.html" %}

{% block navbar %}   {% endblock %}

{% block content %}

<div class="hero-unit">
        <h1>Brew.</h1>
        <p>Rockabeery Mash Automation</p>
      </div>

<table class="table" data-provides="rowlink">
              <thead>
                <tr>
                    <th>Batch</th>
                  <th>Brewing Date</th>
                  <th>Brew</th>

                  <th> </th>
                </tr>
              </thead>
              <tbody>


              {% for batch in batches %}
                <tr>
                    <td>#{{ batch.number|stringformat:"03d" }}</td>
                  <td><a href="/brew/{{ batch.id }}/">{{ batch.brewing_date|date:"D j M Y" }}</a></td>
                  <td>{{ batch.brew.name }}</td>

                  <td class="nohref"><a href="#">Edit</a></td>
                </tr>
              {% endfor %}

              {{ test }}
              </tbody>
            </table>

    {% endblock %}















    {% block extra_scripts %} 
{% endblock %}