{% extends "base.html" %}



{% block content %}

<div class="page-header">
    <h1>Batch #{{ batch.number|stringformat:"03d" }} - Mashing log</h1>
</div>




<div class="row">
    <div class="span8">
        <div id="mashing-tlog-graph" style="width: 760px; height: 500px; margin: 0 auto"></div>
    </div>
    <div class="span4 centered-text">
        <div class="hero-unit">

            <h1 id="timer">00:00:00</h1>

            <p>
                <a href="javascript:void(0)" id="mashing-start" class="btn btn-large btn-success" onclick="Dajaxice.brew.start_mashing(mashing_started, {'batch_id': {{ batch.id }}})"><i class="icon-play icon-white"></i> Start</a>




                <a data-toggle="modal" href="#modalStopMashing" id="mashing-stop" class="btn btn-large btn-danger disabled"><i class="icon-stop icon-white"></i> Stop</a>


            </p>
            <h1 id="temperature">---°</h1>
            <span class="label label-important">Heating up</span>
        </div>

        <h1></h1>


        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Degrees</th>
                <th>Minutes</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>

            {% for mashingstep in batch.brew.mashingschemeitem_set.all %}
            <tr class="row-success">
                <td>{{ forloop.counter }}</td>
                <td>{{ mashingstep.minutes }}</td>
                <td>{{ mashingstep.degrees }}</td>

                <td>Inactive</td>
            </tr>
            {% endfor %}


            </tbody>
        </table>

        <a href="javascript:void(0)" id="clearAll" onclick="Dajaxice.brew.delete_mashing_data(delete_mashing_data_callback, {'batch_id': {{ batch.id }}})" class="btn btn-mini btn-danger"><i class="icon-trash icon-white"></i> Delete all mashing data</a>

    </div>
</div>



<div class="modal hide" id="modalStopMashing">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Warning!</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to stop the mashing process?<br/>
            Logging will stop and reset after this.</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#"  onclick="Dajaxice.brew.stop_mashing(mashing_stopped)" class="btn btn-primary">Stop mashing</a>
    </div>
</div>

{% endblock %}















{% block extra_scripts %}
<script type="text/javascript">
    time_mashing_started = null;
    timer_active = false;
</script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

{# <script src="kapot{{ STATIC_URL }}highcharts/js/highcharts.js"></script> #}


<script type="text/javascript">
    if(typeof Brew=='undefined'){ Brew = {}; }
    Brew.batch_id = {{ batch.id }};
    Brew.is_started = {% if is_started %}1{% else %}0{% endif %};

    Brew.seconds_running = {% if seconds_running %}{{ seconds_running}}{% else %}0{% endif %};
    Brew.is_running = {% if is_running %}1{% else %}0{% endif %};

    if(Brew.is_started){
        chart_update_all();
    }


    if(Brew.is_running){
        var dateNow = new Date();
        time_mashing_started = new Date(dateNow.getTime() - Brew.seconds_running*1000);
        timer_active = true;
        run_mashing();

        $('#mashing-start').addClass('disabled');
        $('#mashing-stop').removeClass('disabled');
    }
</script>
{% endblock %}